body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0; /* Replace with your desired color */
  background-image: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 10px;
}

.delete {
  /* background-color: #ff4d4d;
  color: #fff; */

  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.delete:hover {
  background-color: #ff3333;
}

.delete:active {
  transform: scale(0.95);
}
